body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffff5;
}

@font-face {
  font-family: Roboto Slab;
  src: url(robotoslab/RobotoSlab[wght].ttf);
}

header {
  font-family: Roboto Slab;
  color: hwb(27 1% 45%);
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
}

.container1 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.container2 {
  display: flex;
  justify-content: center;
  left: 25%;
  align-items: center;
  height: 90vh;
  width: 80%;
}
.container2 #info {
  font-family: Roboto Slab;
  display: flex;
  position: absolute;
  top: 35%;
  right: 22%;
  width: 25%;
  height: 50%;
}

.round-image {
  border-radius: 25%;
  width: 300px;
  height: 300px;
}


h1 {
  font-family: Roboto Slab;
  color: hwb(27 1% 45%);
  position: absolute;
  top: 30%;
  right: 25%;
  margin: 0;
}

p {
  font-family: Roboto Slab;
  color: chocolate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-buttons {
  font-family: Roboto Slab;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0;
}

.cta-buttons .cta-button {
  display: inline-block;
  background-color: #fffff2;
  color: #333;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
}

.cta-buttons .cta-button:hover {
  background-color: #33adff;
}

.footer {
  font-family: Roboto Slab;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 0;
  text-align: center;
}

.footer .social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

#projects {
  display: flex;
  justify-content: center;
  left: 25%;
  align-items: center;
  height: 90vh;

}

.project-block {
  align-items: center;
  justify-content: center;
  display: inline-block;
  position: relative;
  margin: 25px;

}

.project-block h2 {
  font-family: Roboto Slab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-block img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
